{% load static %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Envy Ranking - ER</title>
    <meta name="description" content="Envy Ranking">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Ionicons CSS-->
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
    <!-- Device mockups CSS-->
    <link rel="stylesheet" href="{% static 'css/device-mockups.css' %}">
    <!-- Google fonts - Source Sans Pro-->

    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'css/favicon.png' %}">
  </head>
