{% extends 'base.html' %}
{% load static %}
{% block content %}
     <div class="page-holder">
      <!-- Subscription Section-->
      <section class="subscription padding-big">
        <div class="container text-center">
          <div class="section-header">
            <div class="row">
              <div class="col-lg-8 mx-auto"><span class="section-header-title">Get Started</span>
                <h2 class="h1">Start tracking Socail Media account</h2>
                <p class="lead">In order to start tracking  other people's social media accounts, all you have to do is enter account. Everything else will be taken care of by us.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-7 mx-auto">
                <!-- Subscription form-->
                <form action="#" class="subscription-form mt-5">
                  <div class="form-group">
                    <label>User ID</label>
                    <input type="text" name="id" placeholder="userid" class="form-control form-control-lg">
                    <button type="submit" class="btn btn-primary">Start tracking</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
	
      {% if userdata %}
      <main role="main" class="container mb-3">
	<div class="row">
		<div class="shadow col-lg-8 mx-auto bg-white rounded box-shadow">
			<h6 class="border-bottom border-gray py-3 ">Instgram Rank</h6>
	      {% for user in userdata %}
	      <div class="media text-muted pt-3">
		      <img src="{{ user.profilepic_url }}" width="50" alt="" class="mr-2 rounded">
		      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
		      <strong class="d-block text-gray-dark">{{ user.username }}</strong>
		      followers : {{ user.number_followers }} </br> follows : {{ user.number_follows }}		      
		      </p>
	      </div>
	      {% endfor %}
	      <small class="d-block text-right my-4">
		<a href="#">All updates</a>
	      </small>
      			</div>
      		</div>
      	</div>
      </main>
      {% endif %}

    </div>
{% endblock content %}
